# Default ignored files
/shelf/
/workspace.xml
/data/saves/profiles/*
/data/saves/GE/*
/data/saves/construction/*
/data/saves/characters/*
/data/saves/clans/*
/data/saves/logs/*
/data/saves/lottery/*
/data/shops/*